@font-face {
    font-family: 'aileronheavy';
    src: url('Aileron-Heavy-webfont.eot');
    src: url('Aileron-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Heavy-webfont.woff2') format('woff2'),
         url('Aileron-Heavy-webfont.woff') format('woff'),
         url('Aileron-Heavy-webfont.ttf') format('truetype'),
         url('Aileron-Heavy-webfont.svg#aileronheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

