@font-face {
    font-family: 'aileronbold';
    src: url('Aileron-Bold-webfont.eot');
    src: url('Aileron-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Bold-webfont.woff2') format('woff2'),
         url('Aileron-Bold-webfont.woff') format('woff'),
         url('Aileron-Bold-webfont.ttf') format('truetype'),
         url('Aileron-Bold-webfont.svg#aileronbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

