/* Search */

#searchBlock {
  background-color: #99cb71;
  color: white;
  text-shadow: 0 1px 1px #333;
}

#searchBlock select, #searchBlock option {
  font-family: 'Aileron', sans-serif;
}

#search1 {
  display: flex;
  justify-content: space-around;
}

#formSpeciesBlock {
  display: inline-block;
}

#formCategoryBlock {
  display: inline-block;
}

#formSearchBlock {
  display: inline-block;
}

#formPriceBlock {
  display: inline-block;
}

#search2 {
  display: flex;
  justify-content: space-around;
}

#formRangePriceBlock {
  display: inline-block;
}

#searchButton {
  cursor: pointer;
  height: 30px;
  width: 15%;
  font-size: 1em;
  display: block;
  text-align: center;
  background-color: #B5EF86;
  text-decoration: none;
  color: white;
  padding: 5px;
  border: 1px solid white;
  transition: all 0.2s ease-out;
  text-shadow: 0 1px 1px #333;
  vertical-align: baseline;
  position: relative;
  top: 10px;
}

#searchButton:hover {
  color: #99cb71;
  background-color: white;
  border: 1px solid #B5EF86;
  text-shadow: none;
}